{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/user.css') }}">
{% endblock %}

{% block body %}

    <!--    NAVBAR    --->
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Bienvenue {{ users.name }}</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
                    aria-controls="offcanvasNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
                 aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header">
                    <h6 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h6>
                    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                            aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                        <li class="nav-item">
                            <a class="nav-link btn disabled" href="#">Page 1</a>
                            <a class="nav-link btn disabled" href="#">Page 2</a>
                            <a class="nav-link btn disabled" href="#">Page 3</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>

    <!--    PREMIER SECTION DE CARD    -->
    <div class="row g-3 mb-3" id="card-margin">


        <!--    Solde Du compte    -->
        <div class="col-md-6 col-xxl-3">
            <div class="card" id="fist-section">
                <div class="card-header d-flex flex-between-center pb-0">
                    <h6>Solde du compte</h6>
                </div>
                <div class="card-body pt-2">
                    <div class="row g-0 h100 align-tiems-center">
                        <div class="col">
                            <div class="d-flex align-items-center">
                                <div class="fs--2 fw-semi-bold">
                                    <br>
                                    <div>A la date du</div>
                                    {{ "now"|format_datetime(locale='fr',pattern="dd MMMM YYYY") }}
                                </div>
                            </div>
                        </div>
                        <div class="col-auto text-center ps-2">
                            <br>
                            <div class="fs--1 text-800">Il vous reste</div>
                            <div class="fs-4 fw-normal font-sans-serif text-primary mb-1 lh-1">{{ ((SumOfSecondType.0.salaire * 2) - TotalUserValue.0.total) | number_format(2, '.', ',')}}€</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--    Somme loisir    -->
        <div class="col-md-6 col-xxl-3">
            <div class="card" id="fist-section">
                <div class="card-header d-flex flex-between-center pb-0">
                    <h6>Dépense Loisir</h6>
                </div>
                <div class="card-body pt-2">
                    <div class="row g-0 h100 align-tiems-center">
                        <div class="col">
                            <div class="col-auto text-center ps-2">
                                <br>
                                <div class="fs-4 fw-normal font-sans-serif text-primary mb-1 lh-1">{{ SumOfFirstType.0.loisir }}€ / {{ users.maxspend }}€</div>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: {{  ((SumOfFirstType.0.loisir * 100) / users.maxspend) | number_format(2, '.', ',') }}%;" aria-valuenow="{{ SumOfFirstType.0.loisir }}" aria-valuemin="0" aria-valuemax="100">  {{  ((SumOfFirstType.0.loisir * 100) / users.maxspend) | number_format(2, '.', ',') }}%   </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--    ??    -->
        <div class="col-md-6 col-xxl-3">
            <div class="card" id="fist-section">
                <div class="card-header d-flex flex-between-center pb-0">
                    <h6>Je sais pas encore</h6>
                </div>
                <div class="card-body pt-2">
                    <div class="row g-0 h100 align-tiems-center">
                        <div class="text-center">
                            <div class="fs-4 fw-normal font-sans-serif text-primary mb-1 lh-1">CC</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--    Météo    -->
        <div class="col-md-6 col-xxl-3">
            <div class="card" id="fist-section">
                <div class="card-header d-flex flex-between-center pb-0">
                    <h6 class="card-title">Méteo du jour</h6>
                </div>
                <div class="card-body pt-2">
                    <div class="row g-0 h-100 align-items-center">
                        <div class="col">
                            <div class="d-flex align-items-center">
                                <img class="me-3" src="{{ asset('assets/wheather-pic/') }}{{ data.weather.0.icon }}@4x.png" alt="Méteo" height="60">
                                <div>
                                    <h6 class="mb-2">Rouen</h6>
                                    <div class="fs--2 fw-semi-bold">
                                        <div class="text-warning">{{ data.weather.0.description }}
                                        </div>
                                        Humidité : {{ data.main.humidity }}%
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-auto text-center ps-2">
                            <div class="fs-4 fw-normal font-sans-serif text-primary mb-1 lh-1">{{ data.main.temp }}°</div>
                            <div class="fs--1 text-800">{{ data.main.temp_min }}° / {{ data.main.temp_max }}°</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>





    </div>
    <!--    DEUXIÈME SECTION DE CARD    -->
    <div class="row g-3 mb-3" id="card-margin">
        <!--   dépense personelle    -->
        <div class="col-lg-8">
            <div class="card" id="second-section">
                <div class="card-header d-flex flex-between-center pb-0">
                    <h6 class="card-title">Mes Dépenses</h6>
                </div>
                <div class="text-center">
                    <form action="{{ path('user_transaction')}}" method="post">
                        <label for="">
                            <input type="hidden" name="Qui" value="{{ users.name }}">
                        </label>
                        <label for="">
                            <input type="hidden" name="Id" value="{{ users.id }}">
                        </label>
                        <label for="what">Quoi
                            <input type="text" placeholder="Pain au chocolat" class="form-control" id="what" required="required" name="Quoi">
                        </label>
                        <label for="how-many"> Combien
                            <input type="number" placeholder="1.50€" class="form-control" id="how-many" required="required" step="0.01" name="Combien">
                        </label>
                        <label for="when"> Quand
                            <input type="date" class="form-control" id="when" required="required" name="Quand">
                        </label>
                        <label for="buy-type"> Type d'achat
                            <select class="form-select" aria-label="Default select example" id="buy-type" required="required" name="BuyType">
                                <option selected disabled value>Choisir</option>
                                <option value="Logement et charges">Logement et charges</option>
                                <option value="Facture">Facture</option>
                                <option value="Courses">Courses</option>
                                <option value="Abonnement">Abonnement</option>
                                <option value="Loisir">Loisir</option>
                                <option value="Salaire">Salaire</option>
                            </select>
                        </label>
                        <button type="submit" class="btn btn-primary" >Je Valide</button>
                    </form>
                </div>
                {% if purchases is defined and purchases is not empty %}
                    <table class="table text-center">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Quoi</th>
                            <th scope="col">Prix</th>
                            <th scope="col">Quand</th>
                            <th scope="col">Type</th>
                            <th scope="col"></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for purchase in purchases %}
                            <tr>
                                <th scope="row">{{ purchase.id }}</th>
                                <td>{{ purchase.what }}</td>
                                <td>{{ purchase.how }}€</td>
                                <td>{{ purchase.date }}</td>
                                <td>{{ purchase.type }}</td>
                                <td>
                                    <a href="{{ path('delete_payment', { 'id': purchase.id })}}">
                                        <button type="button" class="btn btn-secondary">
                                            <i class="bi bi-trash"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                                    <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                                </svg></i>
                                        </button>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% else%}
                    <p>Pas D'achat effectué</p>
                {% endif %}
            </div>
        </div>

        <!--   dépense mutuelle    -->
        <div class="col-lg-4">
            <div class="card" id="second-section">
                <div class="card-header d-flex flex-between-center pb-0">
                    <h6 class="card-title">Dépense Commune</h6>
                </div>
                {% if together_purchases is defined and together_purchases is not empty %}
                    <table class="table text-center">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Qui</th>
                            <th scope="col">Quoi</th>
                            <th scope="col">Prix</th>
                            <th scope="col">Type</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for purchase in together_purchases %}
                            <tr>
                                <th scope="row">{{ purchase.id }}</th>
                                <td>{{ purchase.who }}</td>
                                <td>{{ purchase.what }}</td>
                                <td>{{ purchase.how }}€</td>
                                <td>{{ purchase.type }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% else%}
                    <p>Pas D'achat effectué</p>
                {% endif %}
            </div>
        </div>



    </div>
{% endblock %}
