{% extends 'base.html.twig' %}


{% block body %}

    <div class="row">
        <div class="col-xl-4" >
            <div class="card" id="first-part">
                <div class="card-body">
                    <h5 class="card-title"> Bonjour {{ users.name }} !</h5>
                    <p class="card-text">Nous somme le {{ "now"|format_datetime(locale='fr',pattern="EEEE dd MMMM YYYY") }}, il est {{ "now"|date("h:i", "Europe/Paris") }}.</p>
                    <h4>Solde du compte :</h4>
                    <p>{{ ((SumOfSecondType.0.salaire * 2) - TotalUserValue.0.total) | number_format(2, '.', ',')}}€</p>
                </div>
            </div>
        </div>
        <div class="col-xl-4">
            <div class="card" id="first-part">
                <div class="card-body">
                    <h5 class="card-title">Dépense Loisir</h5>
                    <h1 style="text-align: center">{{ SumOfFirstType.0.loisir }}€ / {{ users.maxspend }}€</h1>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: {{  ((SumOfFirstType.0.loisir * 100) / users.maxspend) | number_format(2, '.', ',') }}%;" aria-valuenow="{{ SumOfFirstType.0.loisir }}" aria-valuemin="0" aria-valuemax="100">  {{  ((SumOfFirstType.0.loisir * 100) / users.maxspend) | number_format(2, '.', ',') }}%   </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4">
            <div class="card" id="first-part">
                <div class="card-body">
                    <img src="{{ asset('assets/wheather-pic/') }}{{ data.weather.0.icon }}@4x.png" alt="Météo" class="weather">
                    <h5 class="card-title">Météo du jour</h5>
                    <p class="card-text" id="test">
                        à {{ data.name }} | {{ data.weather.0.description }}.
                        <br>
                        Température minimale : {{ data.main.temp_min }}°
                        <br>
                        Température maximale : {{ data.main.temp_max }}°
                        <br>
                        Humidité : {{ data.main.humidity }}%
                    </p>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-xl-8">
            <div class="card" id="second-part">
                <div class="card-body">
                    <h5 class="card-title">Mes Dépenses</h5>
                    <div style="text-align: center">
                        <form action="{{ path('user_transaction')}}" method="post">
                            <label for="">
                            <input type="hidden" name="Qui" value="{{ users.name }}">
                            </label>
                            <label for="">
                                <input type="hidden" name="Id" value="{{ users.id }}">
                            </label>
                            <label for="what">Quoi
                                <input type="text" placeholder="Pain au chocolat" class="form-control" id="what" required="required" name="Quoi">
                            </label>
                            <label for="how-many"> Combien
                                <input type="number" placeholder="1.50€" class="form-control" id="how-many" required="required" step="0.01" name="Combien">
                            </label>
                            <label for="when"> Quand
                                <input type="date" class="form-control" id="when" required="required" name="Quand">
                            </label>
                            <label for="buy-type"> Type d'achat
                                <select class="form-select" aria-label="Default select example" id="buy-type" required="required" name="BuyType">
                                    <option selected disabled value>Choisir</option>
                                    <option value="Logement et charges">Logement et charges</option>
                                    <option value="Facture">Facture</option>
                                    <option value="Courses">Courses</option>
                                    <option value="Abonnement">Abonnement</option>
                                    <option value="Loisir">Loisir</option>
                                    <option value="Salaire">Salaire</option>
                                </select>
                            </label>
                            <button type="submit" class="btn btn-primary" >Je Valide</button>
                        </form>
                    </div>
                    {% if purchases is defined and purchases is not empty %}
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Quoi</th>
                                <th scope="col">Prix</th>
                                <th scope="col">Quand</th>
                                <th scope="col">Type</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for purchase in purchases %}
                            <tr>
                                <th scope="row">{{ purchase.id }}</th>
                                <td>{{ purchase.what }}</td>
                                <td>{{ purchase.how }}€</td>
                                <td>{{ purchase.date }}</td>
                                <td>{{ purchase.type }}</td>
                                <td>
                                    <a href="{{ path('delete_payment', { 'id': purchase.id })}}">
                                        <button type="button" class="btn btn-secondary">
                                        <i class="bi bi-trash"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                            </svg></i>
                                        </button>
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% else%}
                        <p>Pas D'achat effectué</p>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-xl-4">
            <div class="card" id="second-part">
                <div class="card-body">
                    <h5 class="card-title">Dépense Commune</h5>
                    {% if together_purchases is defined and together_purchases is not empty %}
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Qui</th>
                                <th scope="col">Quoi</th>
                                <th scope="col">Prix</th>
                                <th scope="col">Type</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for purchase in together_purchases %}
                                <tr>
                                    <th scope="row">{{ purchase.id }}</th>
                                    <td>{{ purchase.who }}</td>
                                    <td>{{ purchase.what }}</td>
                                    <td>{{ purchase.how }}€</td>
                                    <td>{{ purchase.type }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% else%}
                        <p>Pas D'achat effectué</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
